name: Sync Kong Gateway Setting

on:
  push:
    branches:
      - main
    paths:
      - openapi.yaml
      - .github/workflows/sync-gateway-setting.yaml
  workflow_dispatch:

jobs:
  sync-gateway-setting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup inso cli
        uses: kong/setup-inso@v2.1.0
        with:
          inso-version: 11.0.0
          compression: tar.xz
      - name: Setup deck
        uses: kong/setup-deck@v1
        with:
          deck-version: 1.54.0
      - name: Dump current setting
        run: |
          deck gateway dump -o dump.yaml \
            --select-tag local \
            --skip-defaults \
            --konnect-token ${{ secrets.KONNECT_TOKEN }} \
            --konnect-control-plane-name ${{ secrets.KONNECT_CONTROL_PLANE_NAME }}
          cat dump.yaml
      - name: Backup dumped setting
        uses: actions/upload-artifact@v5
        with:
          name: dump
          path: dump.yaml
      - name: Lint openapi spec
        run: |
          inso lint spec openapi.yaml
      - name: Convert openapi spec to deck format
        run: |
          deck file openapi2kong \
            -s openapi.yaml \
            -o kong.yaml
          cat kong.yaml
      - name: Backup kong.yaml
        uses: actions/upload-artifact@v5
        with:
          name: backup
          path: kong.yaml
      - name: Diff current settings
        run: |
          deck gateway diff kong.yaml \
            --select-tag local
            --konnect-token ${{ secrets.KONNECT_TOKEN }} \
            --konnect-control-plane-name ${{ secrets.KONNECT_CONTROL_PLANE_NAME }}
      - name: Sync gateway settings
        run: |
          deck gateway sync kong.yaml \
            --konnect-token ${{ secrets.KONNECT_TOKEN }} \
            --konnect-control-plane-name ${{ secrets.KONNECT_CONTROL_PLANE_NAME }}
